@layout.app({ title: 'Welcome | Athenna Framework' })
  @slot('main')
    <div class="max-w-screen-xl mx-auto p-8 text-center">
      <div class="flex justify-center items-center">
        <a href="https://athenna.io" target="_blank">
          <img alt="minerva" class="minerva" src="{{ asset("src/resources/img/minerva.png") }}" />
        </a>
      </div>
      <h1 class="font-bold">Athenna + Vite</h1>
      <div className="card">
        <p class="font-medium">
          Edit <code>src/resources/views/pages/home.edge</code> and save to reload.
        </p>
      </div>
    </div>
  @endslot
@end
