<main class="section mx-auto max-w-3xl">
  <h2 class="flex text-4xl font-bold mb-4">
    <i class="mt-0.5 w-9 h-9" data-feather="alert-octagon"></i>
    <span class="ml-3">Page Not Found</span>
  </h2>
</main>
